@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { height: 100%; }
  body { font-feature-settings: "rlig" 1, "calt" 1; }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 8px; height: 8px; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background: rgba(99, 102, 241, 0.3); border-radius: 4px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
}
